---
---

@import 'vendor/pure';
@import 'vendor/grids-responsive';
@import 'sass/fonts';
@import 'sass/icons';
@import 'sass/spinner';

body, html {
  height: 100%;
  color: #424242;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: #212121;
  }

  &:hover, &:active {
    color: #000000;
    text-decoration: underline;
  }

}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  white-space: nowrap;
}

h2, h3, h4, h5, h6 {
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.24em;
}

nav {
  $height: 50px;
  z-index: 999;
  top: 0;
  position: fixed;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: $height;
  height: $height;

  -webkit-transition: width .8s;
  transition: width .8s;

  &:hover {
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    word-spacing: nowrap;
    line-height: $height;
    overflow: hidden;

    &:hover,
    &:active {
      background-color: #F5F5F5;
    }
  }

  a {
    padding: 0 $height * 1/3;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #000000;

    &:link,
    &:visited {
      color: #212121;
    }

    &:hover, &:active {
      text-decoration: none;
    }
  }

  .button {
    background-color: #212121;
    display: inline-block;
    padding: 0;
    width: $height;
    height: $height;
    cursor: pointer;
    color: #FFFFFF;

    &:hover {
      background-color: #000000;
    }
  }
}

header, section, footer {
  padding: 2%;
}

header {
  padding: 5%;
  border-bottom: 1px solid #E0E0E0;

  h1 {
    font-size: 3.5em;
    font-weight: bold;
    color: #000000;
  }

  p {
    font-size: 1.3em;
    line-height: 1.6em;
  }

  strong, i {
    color: #000000;
  }
}

ul.social {
  list-style: none;
  margin: 0 auto;

  text-align: center;
  font-size: 1.8em;
  color: #BDBDBD;

  span {
    display: none;
  }

  li {
    line-height: 60px;
    text-align: center;

    width: 90px;
    display: inline-block;
    margin: 0 5px;
  }

  a {
    border-radius: 20%;

    color: #BDBDBD;
    font-size: 1em;
    text-decoration: none;

    display: block;
    width: 100%;
    height: 100%;

    -webkit-transition: all .5s;
    transition: all .5s;

    &:hover, &:active {
      color: #757575;
    }

    &.in {
      &:hover, &:active {
        color: #01579B;
      }
    }
    &.tw {
      &:hover, &:active {
        color: #00B0FF;
      }
    }
    &.tb {
      &:hover, &:active {
        color: #36465D;
      }
    }
    &.gh {
      &:hover, &:active {
        color: #212121;
      }
    }
    &.sd {
      &:hover, &:active {
        color: #00695C;
      }
    }
  }
}

section.talks{
  background-color: #EEEEEE;
  border-color: transparent;

  .talk {
    margin: 10px;
  }
}

section.links {
  h2 {
    margin-bottom: 20px;
  }

  p {
    overflow: hidden;
    font-size: 1.3em;
    line-height: 1.6em;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
  }

  .date {
    background-color: #616161;
  }

  .screenshot {
    background-color: #EEEEEE;
    border-radius: 5px;
    height: 250px;
    margin: 5px;
    padding: 10px;
  }

  .more {
    $size: 50px;
    display: block;
    background-color: #BDBDBD;
    border-radius: 25px;
    line-height: $size;
    margin: 20px auto;
    width: 300px;

    color: #FFFFFF;
  }
}

footer {
  background-color: #414141;
  color: #FFFFFF;
  text-align: center;
  font-family: Arial;

  ul {
    list-style: none;
    font-size: 0.88em;
  }
  li {
    display: inline-block;

    &:after {
      content: " ·"
    }
    &:last-child:after {
      content: ""
    }
  }
  a {
    margin: 0 5px;
    text-decoration: none;

    &:link, &:visited {
      color: #EEEEEE;
    }

    &:hover, &:active {
      color: #FFFFFF;
      text-decoration: underline;
    }
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@import 'sass/browserupgrade';
@import 'sass/responsive';
