/*
 *= require normalize
 *= require opensans
 *= require_self
 *= require_tree .
 */

@import 'compass/css3';

$padding:   25px;
$fontColor: #434343;

body{
  background-color: #ecf0f1;
  color: $fontColor;
  font-family: 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
  font-size: 19px;
  line-height: 34px;
}
img{
  vertical-align: middle;
}
header{
  @include transition(all .25s linear);
  background: #3498db;
  color: #ffffff;
  height: 70px;
  padding: $padding;
  text-align: center;

  .avatar{
    @include transition(all .25s linear);
    @include border-radius(130px);
    @include single-box-shadow(rgba(0,0,0,0.2), 2px, 2px, 2px, 0);
    border: 3px solid #ffffff;
    display: inline-block;
  }
  a{
    display: block;
  }
  strong{
    @include opacity(0);
    font-weight: normal;
    margin-top: 10px;
  }
  // On hover effects
  &:hover{
    height: 100px;

    .avatar{
      @include transition(all .25s linear);
      @include rotate(180deg);
    }
    strong{
      @include transition(all .25s linear);
      @include opacity(1);
    }
  }
}
article{
  max-width: 1000px;
  margin: 0 auto;
  padding: $padding;

  h1{
    line-height: 45px;
  }
  .type{
    height: 30px;
    margin-right: 10px;
  }
  .tag{
    height: 15px;
    margin: 0 5px;
    width: 15px;
  }
  .posts{
    list-style: none;

    li{
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
  small{
    color: #999999;
    line-height: 16px;
  }
  a{
    border-bottom: 2px solid #3498db;
    color: #3498db;
    text-decoration: none;

    &:hover, &:active{
      color: #2980b9;
      border-bottom-color: #2980b9;
    }
  }
}
a{
  @include transition(all .25s linear);
  color: #3498db;

  &:hover, &:active{
    color: #2980b9;
  }
}
nav{
  text-align: center;

  a{
    @include transition(all .5s);
    border-bottom-style: none !important;
    display: inline-block;
    margin: 0 12.5px;
    height: 50px;
    width: 50px;

    &:hover{
      @include transition(all .5s);
      @include opacity(0.8);
    }

    img{
      height: 50px;
    }
  }
}
footer{
  @extend article;
  font-size: 12px;
  list-style: 15px;
  padding: $padding;

  a{
    border-style: none;
    color: $fontColor;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
  img{
    height: 15px;
    margin-right: 5px;
  }
}
.ribbon {
  position: absolute;
  right: 0;
  top: 0;
}