/*
 *= require normalize
 *= require opensans
 *= require_self
 *= require_tree .
 */

@import 'compass/css3';
@import 'compass/typography/text/force-wrap';
@import 'susy';

$padding        : 40px;
$border-radius  : 3px;

$line-height    : 20px;
$font-size      : 16px;
$font-color     : #57534a;
$font-family    : 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;

$canvas-width   : 350px;
// $media-layout   : 100%;
// $total-columns  : 12;             // a 12-column grid
// $column-width   : 4em;            // each column is 4em wide
// $gutter-width   : 1em;            // 1em gutters between columns
// $grid-padding   : $gutter-width;  // grid-padding equal to gutters

body,
html{
  height: 100%;
}

body{
  background-color: #ffffff;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}
header{
  @include border-radius($border-radius);
  background: #ffffff;
  border: 1px solid #ecf0f1;
  overflow: hidden;
  left: $padding;
  padding: $padding;
  position: fixed;
  text-align: center;
  top: $padding;
  width: $canvas-width - ($padding * 4);
  z-index: 100;

  .avatar{
    @include border-radius(100%);
  }
  .description{
    display: none;
  }
}
nav{
  margin: ($padding * 0.5) 0;

  img{
    height: 50px;
    margin-right: 10px;
    width: 50px;
  }
}
footer{
  clear: both;
  font-size: $font-size * 0.8;
  text-align: center;
  padding: $padding;

  img{
    height: 26px;
    margin: 0 2px;
  }
  .license{
    display: block;
  }
}
a{
  @include transition(color 0.5s ease);

  &:link,
  &:visited{
    color: lighten($font-color, 10%);
  }
  &:hover,
  &:active,
  &:visited:hover{
    color: darken($font-color, 50%);
  }
}
article{
  padding: $padding;
  margin-left: $canvas-width;

  h1{
    font-size: $font-size * 2;
    line-height: $line-height * 2;
  }
  .date{
    color: lighten($font-color, 50%);
    display: block;
  }
  .tags{
    list-style: none;
    margin: $padding 0;
    padding: 0;

    li{
      @include border-radius($border-radius);
      background-color: lighten($font-color, 50%);
      color: #ffffff;
      display: inline-block;
      font-size: $font-size * 0.8;
      padding: 0 5px;
      margin: 0 10px 0 0;
    }
  }
}
.posts{
  list-style: none;
  margin: 0;
  padding: 0 $padding;

  li{
    margin: $padding 0;
    display: block;
  }
  a{
    font-size: $font-size * 1.25;
    font-weight: bold;
    text-decoration: none;
  }
  .date{
    margin-top: 5px;
  }
}
canvas{
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: $canvas-width;
}