@charset "UTF-8";

@column:    350px;
@padding:   25px;
@fontColor: #434343;

body{
  background-color: #ecf0f1;
  color: @fontColor;
  font-family: 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
  font-size: 19px;
  line-height: 34px;
}
header{
  background: #3498db;
  bottom: 0;
  color: #ffffff;
  left: 0;
  padding: @padding;
  position: absolute;
  top: 0;
  width: @column - @padding * 2;
}
article{
  left: @column;
  padding: @padding;
  position: relative;
}
h1,h2,h3,h4,h5,h6{
}
a{
  
  text-decoration: none;

  &:hover, &:active{
    color: #F38630;
  }
}
footer{
  bottom: 0;
  font-size: 12px;
  left: @column;
  padding: @padding;
  position: absolute;
  right: 0;
  a{
    color: @fontColor;
  }
  img{
    height: 15px;
  }
}
.ribbon {
  position: absolute;
  right: 0;
  top: 0;
}