@import 'compass/css3';

.screenshot{
  @include border-radius(5px);
  background-color: #e5e5e5;
  margin: 20px auto;
  padding: 5px;
  max-width: 640px;

  .button{
    @include border-radius(15px);
    background-color: #999999;
    display: inline-block;
    margin-right: 5px;
    height: 15px;
    width: 15px;
  }

  .address{
    background-color: #ffffff;
    margin-bottom: 5px;
    padding: 5px;
  }

  img{
    width: 100%;
  }

  .frame{
    background-color: #ffffff;
    padding: 20px;
    max-height: 480px;
    max-width: 640px;
  }
}