@import 'compass/css3';

.screenshot{
  @include border-radius(5px);
  background-color: #f3f3f4;
  margin: 20px auto;
  max-width: 640px;

  .button{
    @include border-radius(100%);
    background-color: #e5e5e5;
    display: inline-block;
    height: 15px;
    margin: 5px;
    margin-right: 0;
    width: 15px;
  }

  .address{
    background-color: #ffffff;
    margin-bottom: 5px;
    padding: 5px;
  }

  img{
    background-color: #ffffff;
    display: block;
    margin: 0;
    width: 100%;
  }

  .frame{
    background-color: #ffffff;
    padding: 20px;
    max-height: 480px;
    max-width: 640px;
  }
}